.navbar-pill {
    background-color: black;
    padding: 12px 40px;

    margin: 40px;
}

.nav-links {
    list-style: none;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@media (max-width: 726px) {
    .navbar-pill {
        margin: 20px 16px;
    }
}
