.skills-title {
  font-size: 3vw;
  text-align: center;
  border: 3px solid black;
  width: 30%;
  margin: 0 auto;
  padding: 2vw;
}

.skills-cubes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 14vw;
  align-items: start;
  gap: 2vw;
  margin: 4vw auto;
  width: fit-content;
  padding: 0 2vw;
  height: 24vw;
}

.cube {
  width: 15vw;
  height: 15vw;
  min-height: 15vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: height 0.4s ease;
  cursor: pointer;
  overflow: hidden;
  padding: 1vw;
  color: white;
  will-change: height;
}


.cube-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  margin-top: 4vw;
}

.cube-top {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cube-title {
  font-size: 1.8vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.cube-icon {
  width: 5vw;
  height: 5vw;
  margin-bottom: 0.5vw;
  object-fit: contain;
}

.cube-description {
  font-size: 1.0vw;
  opacity: 0;
  text-align: left;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  line-height: 1.3;
  margin-top: 1.5vw;
}

.cube:hover .cube-description {
  opacity: 1;
  max-height: 10vw;
}

.cube:hover {
  height: 26vw;
}

@media (max-width: 768px) {
  .skills-cubes {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 4vw;
    margin: 30px auto;
  }

  .cube {
    width: 30vw;
    height: 30vw;
  }

  .cube:hover {
    height: 50vw;
  }

  .cube-top {
    flex-shrink: 0;
  }

  .cube-content {
    margin-top: 6vw;
  }

  .cube-title {
    font-size: 3vw;
  }

  .cube-icon {
    width: 8vw;
    height: 8vw;
    object-fit: contain;
  }

  .cube-subtitle {
    display: none;
  }

  .cube-description {
    font-size: 2vw;
    max-height: 12vw;
  }
}